div{
    padding-top: 10px;
    padding-bottom:20px;
}

.livingRoom{
    content:url("/../../assets/icon/rooms/living_room.jpg");

  }
  .bedRoom{
    content:url("/../../assets/icon/rooms/bed_room.jpg");
  }

  .hallRoom{
    content:url("/../../assets/icon/rooms/hall_room.jpg");
  }

  .default{
    content:url("/../../assets/icon/rooms/smart_home.png");
  }