<ion-header [translucent]="true">
  <ion-toolbar color="secondary" >
    <!-- <ion-buttons slot="start">
      <ion-icon slot="start" name="apps-outline"></ion-icon>
    </ion-buttons> -->
    <!-- <ion-buttons >
      <ion-icon slot="start" name="person-outline"></ion-icon>
    </ion-buttons> -->

    

    <ion-buttons  slot="start">
      <!-- <ion-button (click) ="routePage()"> -->
        <!-- <ion-icon slot="icon-only" name="arrow-back" ></ion-icon> -->
        <!-- <ion-back-button  text="back" icon="add" defaultHref="/"></ion-back-button> -->
        <ion-back-button text="back" defaultHref="home">sdcsdcsdc</ion-back-button>
      <!-- </ion-button> -->
    </ion-buttons>

    <ion-avatar style="padding:5px 5px 5px 5px;" slot="end" >
      <img src="assets/icon/person.jpeg">
    </ion-avatar>

    <ion-title  text-center>{{title}}</ion-title>
   
  </ion-toolbar> 
</ion-header>
