<app-headerpanel title="Rooms"></app-headerpanel>



<ion-content>

  <ion-segment scrollable (ionChange)="selectedRoom($event)" [(ngModel)]="deviceId">
    <ion-segment-button *ngFor="let items of listOfRooms"  value="{{items.device_id}}">
      <ion-label>{{items.room_name|| items.device_id}}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-grid *ngIf="showDevices">
  

      <app-create-new-device [listOfdevices]='listOfDevices' (updatedevice)='showDeviceConfiguration($event)'></app-create-new-device>
    
  </ion-grid> 
  </ion-content>

