ion-icon {
    color: #3880ff;
  }

  .smoke-detector0{
    content:url("/../../assets/icon/devices/airConditionerRed.jpeg");

  }
  .bulb0{
    content:url("/../../assets/icon/devices/lightBulbRed.png");
  }

  .fan0{
    content:url("/../../assets/icon/devices/fanRed.png");
  }

  .co2-alarm0{
    content:url("/../../assets/icon/devices/heaterRed.png");
  }
  .pump0{
    content:url("/../../assets/icon/devices/heaterRed.png");
  }
  

  .default0{
    content:url("/../../assets/icon/devices/smartDeviceRed.png");
  }

  .smoke-detector1{
    content:url("/../../assets/icon/devices/airConditionerGreen.jpeg");

  }
  .bulb1{
    content:url("/../../assets/icon/devices/lightBulbGreen.png");
  }

  .fan1{
    content:url("/../../assets/icon/devices/fan.png");
  }

  .co2-alarm1{
    content:url("/../../assets/icon/devices/heaterGreen.png");
  }
  .pump1{
    content:url("/../../assets/icon/devices/heaterGreen.png");
  }
  .default1{
    content:url("/../../assets/icon/devices/smartDeviceGreen.png");
  }


  .smoke-detector2{
    content:url("/../../assets/icon/devices/airConditionerGrey.jpeg");

  }
  .bulb2{
    content:url("/../../assets/icon/devices/lightBulbGrey.jpeg");
  }

  .fan2{
    content:url("/../../assets/icon/devices/fanGrey.png");
  }

  .co2-alarm2{
    content:url("/../../assets/icon/devices/heaterGrey.jpeg");
  }
  .pump2{
    content:url("/../../assets/icon/devices/heaterGrey.jpeg");
  }
  

  .default2{
    content:url("/../../assets/icon/devices/smartdeviceGrey.png");
  }