.fanGrey{
    content:url("/../../assets/icon/devices/fanGrey.png");

  }
  .airConditionerGrey{
    content:url("/../../assets/icon/devices/airConditionerGrey.png");
  }

  .lightGrey{
    content:url("/../../assets/icon/devices/lightBulbGrey.jpeg");
  }

  .fanGreen{
    content:url("/../../assets/icon/devices/fanGreen.png");

  }
  .airConditionerGreen{
    content:url("/../../assets/icon/devices/airConditionerGreen.jpeg");
  }

  .lightGreen{
    content:url("/../../assets/icon/devices/lightBulbGreen.png");
  }

  .fanRed{
    content:url("/../../assets/icon/devices/fanRed.png");

  }
  .airConditionerRed{
    content:url("/../../assets/icon/devices/airConditionerRed.jpeg");
  }

  .lightRed{
    content:url("/../../assets/icon/devices/lightBulbRed.png");
  }

  .default{
    content:url("/../../assets/icon/devices/smartdeviceGrey.png");
  }