div ion-item{
    border-radius: 5px;
    width:80%;
    margin: auto;
    padding : 2px 5px 10px 5px;
}

ion-item{
    width:80%;
    margin: auto;
    padding : 2px 5px 5px 5px;
}

div{
    padding : 5px 5px 15px 5px; 
}