<app-headerpanel title="New Device"></app-headerpanel>

<ion-content>
  <ion-list>
  <ion-item lines="none">
    <ion-thumbnail slot="start">
      <img src="/assets/icon/smartswitch.jpeg">
    </ion-thumbnail>
    <ion-label>

    <ion-text color="dark">
      <h3>4 Switch Module</h3>
    </ion-text>
    <ion-text color="dark">
      <p>ID AX123456789</p>
    </ion-text>
    </ion-label>
  </ion-item>
</ion-list>

<ion-list>
  <ion-item lines="none">
    <ion-thumbnail slot="start">
      <img src="/assets/icon/smartswitch.jpeg">
    </ion-thumbnail>
    <ion-label>

    <ion-text color="dark">
      <h3>Tap to setup</h3>
    </ion-text>
    <ion-text color="dark">
    </ion-text>
    </ion-label>
  </ion-item>
</ion-list>

<ion-list>
  <ion-item lines="none">
    <ion-thumbnail slot="start">
      <img src="/assets/icon/smartswitch.jpeg">
    </ion-thumbnail>
    <ion-label>

    <ion-text color="dark">
      <h3>Tap to setup</h3>
    </ion-text>
    </ion-label>
  </ion-item>
</ion-list>

<ion-list>
  <ion-item lines="none">
    <ion-thumbnail slot="start">
      <img src="/assets/icon/smartswitch.jpeg">
    </ion-thumbnail>
    <ion-label>

    <ion-text color="dark">
      <h3>Tap to setup</h3>
    </ion-text>
    </ion-label>
  </ion-item>
</ion-list>

<ion-list>
  <ion-item lines="none">
    <ion-thumbnail slot="start">
      <img src="/assets/icon/smartswitch.jpeg">
    </ion-thumbnail>
    <ion-label>

    <ion-text color="dark">
      <h3>Tap to setup</h3>
    </ion-text>
    </ion-label>
  </ion-item>
</ion-list>

<ion-list>
  <ion-item lines="none">
    <ion-thumbnail slot="start">
      <img src="/assets/icon/smartswitch.jpeg">
    </ion-thumbnail>
    <ion-label>

    <ion-text color="dark">
      <h3>Tap to setup</h3>
    </ion-text>
    </ion-label>
  </ion-item>
</ion-list>

<ion-list>
  <ion-item lines="none">
    <ion-thumbnail slot="start">
      <img src="/assets/icon/smartswitch.jpeg">
    </ion-thumbnail>
    <ion-label>

    <ion-text color="dark">
      <h3>Tap to setup</h3>
    </ion-text>
    </ion-label>
  </ion-item>
</ion-list>

<ion-list>
  <ion-item lines="none">
    <ion-thumbnail slot="start">
      <img src="/assets/icon/smartswitch.jpeg">
    </ion-thumbnail>
    <ion-label>

    <ion-text color="dark">
      <h3>Tap to setup</h3>
    </ion-text>
    </ion-label>
  </ion-item>
</ion-list>

</ion-content>
