ion-item{
    border: solid 1px rgb(192, 185, 185);
    border-radius: 5px;
   
}

ion-list{
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

h3{
    font-weight:bold;
    font-size :20px;
}



// ion-toolbar {
//     display: block;
// 	  overflow-x: scroll;
//       white-space: nowrap;
      
  
// }




