<app-headerpanel title="Setup"></app-headerpanel>

<ion-content>
  <ion-list>
    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img src="/assets/icon/smartswitch.jpeg">
      </ion-thumbnail>
      <ion-label>
  
      <ion-text color="dark">
        <h3>Main Light</h3>
      </ion-text>
      <ion-text color="dark">
        <p>On for 4 hours<br> Scheduled : On</p>
      </ion-text>
      </ion-label>
      <ion-avatar>
      <img src="/assets/icon/redButton.png" >
      </ion-avatar>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img src="/assets/icon/smartswitch.jpeg">
      </ion-thumbnail>
      <ion-label>
  
      <ion-text color="dark">
        <h3>4 Hall Fan</h3>
      </ion-text>
      <ion-text color="dark">
        <p>On for 4 hours<br> Scheduled : On</p>
      </ion-text>
      </ion-label>
      <ion-avatar>
      <img src="/assets/icon/greenButton.png" >
      </ion-avatar>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img src="/assets/icon/smartswitch.jpeg">
      </ion-thumbnail>
      <ion-label>
  
      <ion-text color="dark">
        <h3>BR1 Light</h3>
      </ion-text>
      <ion-text color="dark">
        <p>On for 4 hours<br> Scheduled : On</p>
      </ion-text>
      </ion-label>
      <ion-avatar>
      <img src="/assets/icon/greenButton.png" >
      </ion-avatar>
    </ion-item>
  </ion-list>

  <app-adddevicebtn></app-adddevicebtn>
</ion-content>
