.airConditionerGrey{
    content:url("/../../assets/icon/devices/airConditionerGrey.jpeg");

  }
  .lightBulbGrey{
    content:url("/../../assets/icon/devices/lightBulbGrey.jpeg");
  }

  .fanGrey{
    content:url("/../../assets/icon/devices/fanGrey.png");
  }

  .heaterGrey{
    content:url("/../../assets/icon/devices/heaterGrey.jpeg");
  }

  

  .default{
    content:url("/../../assets/icon/devices/smartdeviceGrey.png");
  }